.container{
    display:grid;
    grid-template-rows:repeat (13,1fr);
    width:80%
  }
  
  table{
      font-size: 2rem;
  /* border-style:solid;   */
  background:red;
  }
  
  .grid-item, .grid-item-1{
    display:block;
    height:30px;
}
  .grid-item {
    background-color:white;
    border: 1px solid ;  
    /* padding: 20px;   */
    /* font-size: 10px;  */
  }
  
  .grid-item-1 {
    background-color:red;
    border: 1px solid ; 
    /* color:red; */
  }
  
  img{
        position:absolute;
        height: 222px;
        width:330px;
        /* margin-top: 3px; */
        /* margin-left:3px; */
        border: 1px solid ; 
    }